.idea
training_tweets.csv
tweets.wv*
tweets.db
tweets.wv.vocal
tweets.wv.model*
tweets.wv.vectors*
tweets.db-journal
__pycache__/
cp.ckpt
tweets.txt
tokenizer.*
.DS_Store
deep_twitter.code-workspace
data/.tweets.wv.model.icloud
data/.tweets.wv.icloud
data/.tweets.wv 2.model.icloud
data/.tweets 2.wv.icloud
.vscode/settings.json
data/.cp.ckpt.icloud
